<%- include("template/cabecera", {tituloweb: 'Página de Inicio '}) %>
<body>
    <%- include("template/navbar") %>
    <h1 class="text-primary"> index views</h1>

    <h2> <%= titulo %></h2>
    
<%- include("template/footer") %>